section{ 
   
    color:orange  ;
}

nav li{
    float: left;
}

nav ul{
    float: right;
    list-style: none;
}

section nav{ 
    font-size: 20px;
    letter-spacing: 4px;
    height: 50px;
    background-color:rgb(10, 10, 122);
}
footer{
    text-align: right;
}
nav li a{
    padding: 20px;
    text-decoration: none;
    color: orange;
    font-weight: bold;
}
.aula{
    margin: 5px;
    text-align: center;
}
.coluna{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.legenda{
    text-align: center;
}